*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.container{
    max-width: 1440px;
    height: 1200px;
    background-color: #F0F2FA;
    margin: 0px auto;
    display: flex;
}
.container_1{
    width: 253px;
    height:100%;
    background-color: #2F49D1;
    color: white;
    padding-top: 20px;
}
.fle_bot{
    width: 213px;
    height: 73px;
    display: flex;
    margin-left: 20px;
align-items: center;
justify-content: space-between;
border-bottom: 1px solid white;
padding-bottom: 20px;
}
.fle_bot_1{
    width: 48px;
    height: 48px;
    background-color: #315996;
    color: white;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;    
    border-radius: 50%;
}
.plo{
font-size: 20.63px;
font-weight: 700;
line-height: 29.22px;
letter-spacing: 0.8595330119132996px;
text-align: left;margin-left: 20px;
}
.fa-bars{
    font-size: 25px;
    cursor: pointer;
    transition: 1s;
}
.fa-bars:hover{
    color: red;
    transition: 1s;
}
.fle_bot2{
    width: 253px;
    height: 321px;
    margin-top: 22px;
}
.bot2{
    width:253px;
    height: 51px;
transition: 1s;
margin-top: 10px;
padding-left: 20px;
display: flex;
align-items: center;
justify-content: space-between;
padding-right: 10px;
}
.invox{
    height: 36px;
    width: 4px;
    border-radius: 8px;
    transition: 1s;
    background-color: transparent;
}
.pps{
    display: flex;
    align-items: center;
    gap: 10px;
}
.bot2:hover{
    background-color: #01265F;
    transition: 1s;
    cursor: pointer;
}
.bot2:hover>.invox{
    background-color: white;
    transition: 1s;
}
.bot2:hover>.ion{
    display: none;
    transition: 1s;
}
.container_2{
    width: 1187px;
    height: 100%;
}
.container_2_header{
    width: 100%;
    height: 80px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding-left: 32px;
    padding-right: 20px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;


}
.lk1{
font-size: 36px;
font-weight: 700;
line-height: 43.57px;
letter-spacing: 0.01em;
text-align: left;
color: #0061F7;
}
.lk2{
font-size: 24px;
font-weight: 500;
line-height: 29.05px;
letter-spacing: 0.01em;
color: #0061F7;
text-align: left;

}
.ion{
    width: 20px;
    height: 20px;
    background-color: #E13468;
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: 1s;
    left: 45px;
}
.header_left_content{
    display: flex;
    align-items: center;
    gap: 30px;
}
.sles{
    border: none;
    outline: none;
    cursor: pointer;
}
.dert{
    width: 40px;
    height: 40px;
    background-color: #C4C4C4;
    color: white;
    font-size: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.grid_content{
    margin: 32px;
    margin-right: 32px;
    width: 1123px;
    height: 488px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
}
.grid_content_boy{
 background-color: white;
 border-radius: 20px;
    box-shadow: 0px 10px 25px 0px #00000026;
    display: flex;
justify-content: space-between;
    padding: 32px;

}
.pl_ttile{
font-size: 32px;
font-weight: 500;
line-height: 38.73px;
letter-spacing: -1px;
text-align: left;
color: black;

}
.titpls{
font-size: 36px;
font-weight: 700;
line-height: 43.57px;
letter-spacing: -1px;
text-align: left;
margin-top: 20px;

}
.img{
    width: 100px;
    height: 100px;
    margin-top: 100px;

position: relative;
}
.img2{
    margin-top: 52px;
    margin-left: 10px;
}